.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
  padding: 0.25rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

.error-message {
  color: #d32f2f;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5vw;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-actions button {
  padding: 0.5rem 1rem;
  font: inherit;
  color: white;
  background-color: #00695c;
  border: 1px solid #00695c;
  border-radius: 2px;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
  background-color: #004d40;
  border-color: #004d40;
}

.form-actions a {
  font: inherit;
  color: #00695c;
  text-decoration: none;
  font-weight: bold;
}

.form-actions a:hover,
.form-actions a:active {
  color: #004d40;
}

.form-control .invalid {
  border-color: #d32f2f;
  background-color: #f9c0c079;
}